In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dft-road-casualty-statistics-casualty-provisional-mid-year-unvalidated-2022.csv')

In [3]:
df.shape

(61352, 20)

In [4]:
df.head()

,status,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,Unvalidated,2022070151244,2022,070151244,2,1,1,2,46,8,3,0,0,0,0,0,9,1,9,E01033378
1,Unvalidated,2022070152668,2022,070152668,1,1,1,1,30,6,3,0,0,0,0,0,9,1,2,E01018551
2,Unvalidated,2022070154696,2022,070154696,1,1,1,2,58,9,3,0,0,0,0,0,9,1,10,E01006134
3,Unvalidated,2022070154696,2022,070154696,2,3,1,2,78,11,3,0,0,0,0,0,9,2,10,E01018724
4,Unvalidated,2022070154696,2022,070154696,3,2,1,1,63,9,3,0,0,0,0,0,9,3,7,W01000578

In [5]:
df.describe()

,accident_year,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
count,61352.0,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000,61352.000000
mean,2022.0,1.450368,1.333779,1.482299,1.368790,36.670312,6.288157,2.783039,0.800316,0.645325,0.222047,0.048507,0.032860,9.475160,1.091032,4.337674
std,0.0,1.109855,0.981507,0.735614,0.534536,19.574357,2.463082,0.442318,2.197167,2.009611,0.615127,0.426419,0.261327,16.662727,0.903365,3.158496
min,2022.0,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2022.0,1.000000,1.000000,1.000000,1.000000,22.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000
50%,2022.0,1.000000,1.000000,1.000000,1.000000,34.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,4.000000
75%,2022.0,2.000000,1.000000,2.000000,2.000000,50.000000,8.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,7.000000
max,2022.0,227.000000,148.000000,3.000000,9.000000,101.000000,11.000000,3.000000,10.000000,9.000000,9.000000,9.000000,2.000000,98.000000,3.000000,10.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61352 entries, 0 to 61351
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   status                              61352 non-null  object
 1   accident_index                      61352 non-null  object
 2   accident_year                       61352 non-null  int64
 3   accident_reference                  61352 non-null  object
 4   vehicle_reference                   61352 non-null  int64
 5   casualty_reference                  61352 non-null  int64
 6   casualty_class                      61352 non-null  int64
 7   sex_of_casualty                     61352 non-null  int64
 8   age_of_casualty                     61352 non-null  int64
 9   age_band_of_casualty                61352 non-null  int64
 10  casualty_severity                   61352 non-null  int64
 11  pedestrian_location                 61352 non-null  int64
 12  pedestrian_movement                 61352 non-null  int64
 13  car_passenger                       61352 non-null  int64
 14  bus_or_coach_passenger              61352 non-null  int64
 15  pedestrian_road_maintenance_worker  61352 non-null  int64
 16  casualty_type                       61352 non-null  int64
 17  casualty_home_area_type             61352 non-null  int64
 18  casualty_imd_decile                 61352 non-null  int64
 19  lsoa_of_casualty                    61352 non-null  object
dtypes: int64(16), object(4)
memory usage: 9.4+ MB

In [7]:
df.isnull().sum()

status                                0
accident_index                        0
accident_year                         0
accident_reference                    0
vehicle_reference                     0
casualty_reference                    0
casualty_class                        0
sex_of_casualty                       0
age_of_casualty                       0
age_band_of_casualty                  0
casualty_severity                     0
pedestrian_location                   0
pedestrian_movement                   0
car_passenger                         0
bus_or_coach_passenger                0
pedestrian_road_maintenance_worker    0
casualty_type                         0
casualty_home_area_type               0
casualty_imd_decile                   0
lsoa_of_casualty                      0
dtype: int64

In [8]:
df.columns

Index(['status', 'accident_index', 'accident_year', 'accident_reference',
       'vehicle_reference', 'casualty_reference', 'casualty_class',
       'sex_of_casualty', 'age_of_casualty', 'age_band_of_casualty',
       'casualty_severity', 'pedestrian_location', 'pedestrian_movement',
       'car_passenger', 'bus_or_coach_passenger',
       'pedestrian_road_maintenance_worker', 'casualty_type',
       'casualty_home_area_type', 'casualty_imd_decile', 'lsoa_of_casualty'],
      dtype='object')

In [9]:
df.nunique()

status                                    1
accident_index                        48283
accident_year                             1
accident_reference                    48283
vehicle_reference                        11
casualty_reference                       18
casualty_class                            3
sex_of_casualty                           4
age_of_casualty                         102
age_band_of_casualty                     12
casualty_severity                         3
pedestrian_location                      11
pedestrian_movement                      10
car_passenger                             5
bus_or_coach_passenger                    7
pedestrian_road_maintenance_worker        4
casualty_type                            22
casualty_home_area_type                   4
casualty_imd_decile                      11
lsoa_of_casualty                      23841
dtype: int64

In [10]:
df = df.drop(['status', 'accident_year'], axis=1)
df.shape

(61352, 18)

In [11]:
df.accident_index.unique

<bound method Series.unique of 0        2022070151244
1        2022070152668
2        2022070154696
3        2022070154696
4        2022070154696
             ...
61347    2022461156711
61348    2022461157243
61349    2022461157256
61350    2022461157316
61351    2022461159841
Name: accident_index, Length: 61352, dtype: object>

In [12]:
(df.accident_index == '2022' + df.accident_reference).sum()

61352

In [13]:
df = df.drop(['accident_index'], axis=1)
df.shape

(61352, 17)

In [14]:
df.nunique()

accident_reference                    48283
vehicle_reference                        11
casualty_reference                       18
casualty_class                            3
sex_of_casualty                           4
age_of_casualty                         102
age_band_of_casualty                     12
casualty_severity                         3
pedestrian_location                      11
pedestrian_movement                      10
car_passenger                             5
bus_or_coach_passenger                    7
pedestrian_road_maintenance_worker        4
casualty_type                            22
casualty_home_area_type                   4
casualty_imd_decile                      11
lsoa_of_casualty                      23841
dtype: int64

In [15]:
df.head(10)

,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty
0,070151244,2,1,1,2,46,8,3,0,0,0,0,0,9,1,9,E01033378
1,070152668,1,1,1,1,30,6,3,0,0,0,0,0,9,1,2,E01018551
2,070154696,1,1,1,2,58,9,3,0,0,0,0,0,9,1,10,E01006134
3,070154696,2,3,1,2,78,11,3,0,0,0,0,0,9,2,10,E01018724
4,070154696,3,2,1,1,63,9,3,0,0,0,0,0,9,3,7,W01000578
5,070154696,4,4,1,1,52,8,3,0,0,0,0,0,9,1,9,E01012374
6,070154696,4,5,2,1,50,8,3,0,0,2,0,0,9,-1,-1,-1
7,070154696,4,6,2,1,16,4,3,0,0,2,0,0,9,-1,-1,-1
8,070155214,2,1,1,1,74,10,2,0,0,0,0,0,1,3,5,E01018444
9,070155656,1,1,1,1,50,8,3,0,0,0,0,0,9,1,8,E01018443

In [16]:
df.vehicle_reference

0        2
1        1
2        1
3        2
4        3
        ..
61347    1
61348    1
61349    2
61350    1
61351    2
Name: vehicle_reference, Length: 61352, dtype: int64